#recurring-donation {
    display: none,
}

#single-donation-form, #recurring-donation-form {
    display: none;
}

.proxy-input {
    display: none;
    &+label {
        background-color: rgba(226, 226, 226, 0.95);
    }
    &:checked+label {
        background-color: #128cf4;
        color: white;
    }
}

.proxy-label {
    padding: 0.5em;
    border: solid black 1px;
    border-radius: 1em;
}
