#roster-listing {
  @include respond-to(medium) {
    columns: 2;
    column-gap: 8em;
  }

  @include respond-to(wide-plus) {
    columns: 3;
    column-gap: 8em;
  }

  .instrument {
    margin-bottom: 1em;
    break-inside: avoid;
    @extend %border-bottom;
    &:last-child {
      border-bottom: none;
    }

    h3 {
      @extend %caps-sans;
      margin-bottom: $small3;
    }
  }

  ol, ul {
    list-style: none;

    li {
      margin-left: 0;
      @extend %sans;
      @extend %small-sans-sizing;
    }
  }
}
