[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.10.1"
wagtail-autocomplete = "==0.6"
faker = "==5.5.1"
factory-boy = "==2.12.0"
wagtail-factories = "==2.0.0"
gunicorn = "==20.0.4"
django-el-pagination = "==3.3.0"
wagtailmenus = "==3.0.2"
psycopg2-binary = "==2.8.5"
django-paypal = "==1.0.0"
django-storages = "==1.9.1"
boto3 = "==1.15.1"
opencv-python-headless = "==4.2.0.34"
pylint = "==2.6.0"
flake8 = "==3.8.3"
pylint-django = "==2.3.0"
wagtail-metadata = "==3.3.0"
sentry-sdk = "==0.17.6"

[dev-packages]

[requires]
python_version = "3.7"
