[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.5.1"
wagtail-autocomplete = "==0.3.1"
faker = "==1.0.7"
factory-boy = "==2.11.1"
wagtail-factories = "==1.1.0"
gunicorn = "==19.9.0"
django-el-pagination = "==3.2.4"
wagtailmenus = "==2.13.1"
psycopg2-binary = "==2.8.3"
django-paypal = "==1.0.0"
django-storages = "==1.7.1"
boto3 = "==1.9.194"

[dev-packages]

[requires]
python_version = "3.7"
