[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.6.1"
wagtail-autocomplete = "==0.4"
faker = "==4.0.1"
factory-boy = "==2.12.0"
wagtail-factories = "==2.0.0"
gunicorn = "==20.0.4"
django-el-pagination = "==3.2.4"
wagtailmenus = "==2.13.1"
psycopg2-binary = "==2.8.4"
django-paypal = "==1.0.0"
django-storages = "==1.9.1"
boto3 = "==1.9.199"
opencv-python-headless = "==4.2.0.32"
pylint = "==2.4.4"
flake8 = "==3.7.9"
pylint-django = "==2.0.11"
wagtail-metadata = "==3.0.0"
sentry-sdk = "==0.14.1"

[dev-packages]

[requires]
python_version = "3.7"
