#about-page {
  > div > div > p {
    @extend %copy;
  }

  h2 {
    @extend %small-heading;
    padding-bottom: .3em;
    margin-top: $big3;
  }
  .about-history {
    @extend %border-bottom;
  }
}

.personnel-list-centered__names {
    padding-left: 1em;
}
