#donation-form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    form {
        width: 400px;
        display: flex;
        flex-flow: column nowrap;

        input[type="submit"] {
            width: fit-content;
            align-self: center;
            @extend %sans-reg;
            @extend %big;
            padding: 0.5em;
            border: solid black 1px;
            border-radius: 1em;
            color: #FFFFFF;
            background-color: $tcs-primary;
            -webkit-appearance: none;
        }
    }

    fieldset, .donation-row {
        margin: 0 auto 1em;
    }
    .donation-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .donation-tax-container {
        margin-bottom: 1em;
        &:last-of-type {
            margin-bottom: 0em;
        }
    }

    @include respond-to(small) {
        form {
            width: 100%;
            margin-bottom: 1em;
        }

        #single-other-amount, #recurring-other-amount {
            width: 100px;
        }
    }
}

#recurring-donation {
    display: none;
}

#single-donation-form, #recurring-donation-form {
    display: none;
}

.proxy-input {
    display: none;
    &+label {
        background-color: rgba(226, 226, 226, 0.95);
    }
    &:checked+label {
        background-color: $tcs-primary;
        color: white;
    }
}

.proxy-label {
    padding: 0.5em;
    border: solid black 1px;
    border-radius: 1em;
    margin-right: 0.75em;
}

.proxy-label-other {
    display: inline-block;
}
