{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load responsive_image %}
{% load wagtailmetadata_tags %}

{% block seo_tags %}
    {% meta_tags %}
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <article id="concert">
            {% if page.concert_image %}
            <p class="concert-tag">
                {% with cd=page.concert_date.all %}
                {% if cd|length_is:"1" %}
                    {{ cd.first.date|date:"F j" }}
                {% elif cd.first.date|date:"nY" == cd.last.date|date:"nY" %} 
                    {{ cd.first.date|date:"F j" }}-{{cd.last.date|date:"j"}}
                {% else %}
                    {{ cd.first.date|date:"F j" }} - {{cd.last.date|date:"F j"}}
                {% endif %}
                {% endwith %}
            </p>
            {% endif %}
            <div class="concert-image">
                <div class="concert-image-container">
                    {% responsiveimage page.concert_image fill-1470x542 srcset="fill-833x306 833w, fill-1208x446 1208w, fill-1470x542 1470w" sizes="555px, 1208px, 630px" %}
                </div>
            </div>
            <div class="concert-title-info">
                <h1 class="concert-name">
                    {{ page.title }}
                    <span property="dc:title" content="{{ page.title }}" class="rdf-meta element-hidden"></span>
                </h1>
            </div>
            <div class="concert-copy-container">
                <div class="concert-date-location">
                    <div class="concert-date">
                        {% with cd=page.concert_date.all %}
                            {% for d in cd %}
                            <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ d.date|date:"c" }}">{{ d.date|date:"l | n.j.y | "  }}{{d.date|time:"g:i A"}}</span><br>
                            {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="concert-location">
                        {{ page.venue | richtext }}
                    </div>
                    {% if page.program_notes %}
                    <div class="concert-program-notes">
                       <div class="btn">
                           <a href="{{ page.program_notes.url  }}" target="_blank">
                               Program Notes
                           </a>
                       </div>
                    </div>
                    {% endif %}
                </div>  
                <div class="concert-copy">
                    {% include_block page.description %}
                    {% if conductors %}
                    <div class="concert-conductors">
                        Conductors:&nbsp;
                        {% for c in conductors %}
                        <span><a href="{{ c.url }}">{{ c.name }}</a></span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if page.ticketing_link %}
                    <div class="concert-ticketing-link">
                        <a href="{{ page.ticketing_link }}">BUY TICKETS</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="concert-program">
                <h2>Program</h2>
                {% for performance in program %}
                <div class="concert-program-listing">
                    <div class="concert-program-piece">
                        <span class="concert-program-piece-composer">{{ performance.composer }}</span><span class="rich-text">{{ performance.composition | richtext }} {{ performance.supplemental_text | richtext }}</span>
                    </div>
                    {% for performer in performance.performers %} 
                    <div class="concert-program-piece-soloist">
                        <span class="performer"><a href="{{ performer.url }}">{{ performer.name }}</a>, </span>
                        <span class="instrument">{{ performer.instrument }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% if performers %}
            <div class="concert-soloists">
                <h2>Featured Artists</h2>
                {% for performer in performers %} 
                <section class="concert-soloist">
                    <div class="concert-soloist-image">
                        <div class="concer-soloist-image-container">
                            <a href="{{ performer.url }}">
                                {% responsiveimage performer.headshot fill-833x1038 srcset="fill-833x1038 833w, fill-582x726 582w, fill-455x567 455w" sizes="833px, 582px, 833px" %}
                            </a>
                        </div>
                    </div>
                    <div class="solist-program-listing-container">
                        <div class="concert-program-listing">
                            <p class="concert-program-piece-soloist">
                                <a href="{{ performer.url }}">{{ performer.name }}</a><br>
                                {% for i in performer.instrument %}
                                {{ i }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            {% for performance in performer.performances %}
                            <p class="concert-program-date">
                                {% for date in performance.dates %}   
                                {{ date | date:"l, n.j" }}{% if not forloop.last%}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="concert-program-piece">
                                <span class="concert-program-piece-composer">{{ performance.composer }}: </span>{{ performance.work | richtext | striptags }} {{ performance.supplemental_text | richtext | striptags }}
                            </p>
                            <br>
                            {% endfor %}
                        </div>
                        <div class="concert-soloist-bio">
                            {% for block in performer.bio %}
                                {% if forloop.first %}
                                    {{ block.value | truncatewords_html:80 }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
            {% endif %}
            {% if conductors %}
            <div class="concert-soloists">
                <h2>Conductors</h2>
                {% for conductor in conductors %} 
                <section class="concert-soloist">
                    <div class="concert-soloist-image">
                        <div class="concer-soloist-image-container">
                            <a href="{{ conductor.url }}">
                                {% responsiveimage conductor.headshot fill-833x1038 srcset="fill-833x1038 833w, fill-582x726 582w, fill-455x567 455w" sizes="833px, 582px, 833px" %}
                            </a>
                        </div>
                    </div>
                    <div class="solist-program-listing-container">
                        <div class="concert-program-listing">
                            <p class="concert-program-piece-soloist">
                                <a href="{{ conductor.url }}">{{ conductor.name }}</a><br>
                            </p>
                        </div>
                        <div class="concert-soloist-bio">
                            {% for block in conductor.bio %}
                                {% if forloop.first %}
                                    {{ block.value | truncatewords_html:80 }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
            {% endif %}
        </article>
    </div>
</main>
{% endblock %}
