{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load responsive_image %}
{% load concert_list %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="page-header">
           <h1>Concerts</h1>  
           <div class="past-seasons">
               <h3>Past Seasons</h3>
               <div class="past-season-listing">
                   <div class="concert-season-list">
                       <div class="concert-season-list-container">
                           {% for s in seasons %}
                               <a href="/concerts/{{ s }}">{{ s }}</a>
                           {% endfor %}
                       </div>
                   </div>
               </div>
           </div>
        </div>
        {% list_concerts concerts %}
        {% if previous_concerts %}
        <h1>Previous Concerts This Season</h1>
        {% list_concerts previous_concerts %}
        {% endif %}
    </div>
</main>
{% endblock %}
