{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load responsive_image %}

{% block content %}
<main>
    <div class="container">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="content">
            {% if page.body %}
                {% include_block page.body %}
            {% endif %}
        </div>
    </div>
    <div id="donation-form-container" class="container">
        <h2>Donate</h2>
        <form id="proxy-form" action="#">
            <fieldset id="donation-type">
                <input type="radio" name="donation_type" id="donation-type-single" value="single" checked/>
                <label for="donation-type-single">Single</label>
                <input type="radio" name="donation_type" id="donation-type-recurring" value="recurring"/>
                <label for="donation-type-recurring">Recurring</label>
            </fieldset>
            <fieldset id="single-donation">
                <div class="donation-row">
                    {% for val in single_donation_amounts %}
                    <input type="radio" class="proxy-input" name="single_donation" id="single-{{ forloop.counter0 }}" value="{{ val }}" {% if forloop.first %}checked{% endif %}/>
                    <label class="proxy-label" for="single-{{ forloop.counter0 }}">${{ val }}</label>
                    {% if forloop.counter0 == 3%}
                    </div>
                    <div class="donation-row">
                    {% endif %}
                    {% endfor %}
                    <input type="radio" class="proxy-input" name="single_donation" id="single-other" value="" />
                    <label class="proxy-label proxy-label-other" for="single-other">
                        $<input type="number" name="single_other_amount" placeholder="Other amount" id="single-other-amount" min="0.01" step="any" value="" />
                    </label>
                </div>
            </fieldset>
            <fieldset id="recurring-donation">
                <div class="donation-row">
                {% for val in recurring_donation_amounts %}
                    <input type="radio" class="proxy-input" name="recurring_donation" id="recurring-{{ forloop.counter0 }}" value="{{ val }}" {% if forloop.first %}checked{% endif %}/>
                    <label class="proxy-label" for="recurring-{{ forloop.counter0 }}">${{ val }}</label>
                    {% if forloop.counter0 == 3%}
                    </div>
                    <div class="donation-row">
                    {% endif %}
                    {% endfor %}
                    <input type="radio" class="proxy-input" name="recurring_donation" id="recurring-other" value="" />
                    <label class="proxy-label proxy-lable-other" for="recurring-other">
                        $<input type="number" name="recurring_other_amount" placeholder="Other amount" id="recurring-other-amount" min="0.01" step="any" value="" />
                    </label>
                </div>
            </fieldset>
            <fieldset id="donation-tax">
                <div class="donation-tax-container">
                    Would you like to waive donor incentives and make your gift fully tax deductible? 
                </div>
                <div class="donation-tax-container">
                    <input type="radio" name="donation_tax" id="donation-tax-yes" value="yes" checked/>
                    <label for="donation-tax-yes">Yes - please waive my donor incentives and make my gift fully tax deductible.</label>
                </div>
                <div class="donation-tax-container">
                    <input type="radio" name="donation_tax" id="donation-tax-no" value="no"/>
                    <label for="donation-tax-no">No - I want my donor incentives and understand this will affect the tax deductible amount of my gift.</label>
                </div>
            </fieldset>
            <input type="submit" name="Donate" id="proxy-form-donate-sumbit" value="Donate" />
        </form>
        <div id="single-donation-form" class="donation-form">
            {{ single.render }} 
        </div>
        <div id="recurring-donation-form" class="donation-form">
            {{ recurring.render }} 
        </div>
    </div>
</main>
{% endblock %}
