{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load responsive_image %}
{% load wagtailmetadata_tags %}

{% block seo_tags %}
    {% meta_tags %}
{% endblock %}

{% block content %}
<main id="node-" class=" clearfix">
  <div class="container">
  </div>
  <div class="container">


  <section id="season-banner">
    <div class="banner-image-container">
        {% responsiveimage page.banner_image width-1470 srcset="width-833 833w, width-1208 1208w, width-1470 1470w" sizes="555px, 805px, 980px" %}
    </div>
  </section>

{% if featured_concert %}
  <section id="featured-concert">
      <article class="concert">
          <div class="concert-image">
              <div class="concert-image-container">
                  <a href="{% pageurl featured_concert %}">
                      {% responsiveimage featured_concert.concert_image fill-945x348 srcset="fill-833x306 833w, fill-1208x446 1208w, fill-945x348 945w" sizes="555px, 1208px, 630px" %}
                  </a>
              </div>
          </div>
          <div class="concert-info">
              <p class="concert-tag">
                {% with cd=featured_concert.concert_date.all %}
                {% if cd|length_is:"1" %}
                    {{ cd.first.date|date:"F j" }}
                {% elif cd.first.date|date:"nY" == cd.last.date|date:"nY" %} 
                    {{ cd.first.date|date:"F j" }}-{{cd.last.date|date:"j"}}
                {% else %}
                    {{ cd.first.date|date:"F j" }} - {{cd.last.date|date:"F j"}}
                {% endif %}
                {% endwith %}
              </p>
              <h2 class="concert-name">
                  <a href="{% pageurl featured_concert %}">{{ featured_concert.title }}</a>
              </h2>
              <p class="concert-date">
                {% with cd=featured_concert.concert_date.all %}
                    {% for d in cd %}
                    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ d.date|date:"c" }}">{{ d.date|date:"l | n.j.y | "  }}{{d.date|time:"g:i A"}}</span><br>
                    {% endfor %}
                {% endwith %}
              </p>
              <div class="concert-copy">
                  {{ featured_concert.promo_copy|richtext }}
              </div>
          </div>
      </article>
  </section>
{% endif %}

{% if recent_blog_posts %}
  <section id="recent-blog-posts">
      {% for post in recent_blog_posts %}
      <article class="blog-post">
          <div class="blog-info">
              <div class="blog-image">
                  <div class="blog-image-container">
                      <a href="{% pageurl post %}">
                        {% image post.blog_image fill-675x450 as b_img_mobile %}
                        {% image post.blog_image fill-549x306 as b_img_tablet %}
                          <picture >
                              <source srcset="{{ b_img_mobile.url }}" media="(min-width: 0px) and (max-width: 599px)" />
                              <source srcset="{{ b_image_tablet.url  }}" media="(min-width: 600px) and (max-width: 849px)" />
                              <source srcset="{{ b_img_mobile.url }}" media="(min-width: 850px) and (max-width: 1039px)" />
                              <source srcset="{{ b_img_mobile.url }}" media="(min-width: 1040px)" />
                              <img src="{{ b_img_mobile.url }}" alt="" title="" />
                          </picture>
                      </a>
                  </div>
              </div>
              <p class="blog-tag">
              </p>
              <h2 class="blog-name">
                  <a href="{% pageurl post %}">{{ post.title }}</a>        </h2>
              <p class="blog-date">{{ post.date|date:"F j, Y" }}</p>
              <div class="blog-copy">
                  {{ post.promo_copy|richtext }}
              </div>
          </div>
      </article>
      {% endfor %}
  </section>
{% endif %}

{% if upcoming_concerts %}
<section id="next-concerts">
    {% for c in upcoming_concerts %}
    <article class="concert">
        <div class="concert-image">
            <div class="concert-image-container">
                <a href="{% pageurl c %}">
                    {% image c.concert_image fill-270x338 as c_img_mobile %}
                    {% image c.concert_image fill-393x492-c50 as c_img_tablet %}
                    {% image c.concert_image fill-398x143 as c_img_full %}
                    <picture>
                        <source srcset="{{ c_img_mobile.url }}" media="(min-width: 0px) and (max-width: 599px)" />
                        <source srcset="{{ c_img_tablet.url }}" media="(min-width: 600px) and (max-width: 849px)" />
                        <source srcset="{{ c_img_full.url }}" media="(min-width: 850px) and (max-width: 1039px)" />
                        <source srcset="{{ c_img_full.url }}" media="(min-width: 1040px)" />
                        <img src="{{ c_img_full.url }}" alt="" title="" />
                    </picture>
                </a>
            </div>
        </div>
        <div class="concert-info">
            <p class="concert-tag">
                {% with cd=c.concert_date.all %}
                {% if cd|length_is:"1" %}
                    {{ cd.first.date|date:"F j" }}
                {% elif cd.first.date|date:"nY" == cd.last.date|date:"nY" %} 
                    {{ cd.first.date|date:"F j" }}-{{cd.last.date|date:"j"}}
                {% else %}
                    {{ cd.first.date|date:"F j" }} - {{cd.last.date|date:"F j"}}
                {% endif %}
                {% endwith %}
            </p>
            <h2 class="concert-name">
                <a href="{% pageurl c %}">{{ c.title }}</a>
            </h2>
            <p class="concert-date">
                {% with cd=c.concert_date.all %}
                    {% for d in cd %}
                    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ d.date|date:"c" }}">{{ d.date|date:"l | n.j.y | "  }}{{d.date|time:"g:i A"}}</span><br>
                    {% endfor %}
                {% endwith %}
            </p>
            <div class="concert-copy">
                {{ c.promo_copy | richtext }}
            </div>
        </div>
    </article>
    {% endfor %}
</section>
{% endif %}
  </div>
</main>
{% endblock %}
